process {
    errorStrategy =  'retry'
    maxRetries = 2

    withName: filterBAM_by_inputBed {
        cpus = 10
        maxForks = 10
        memory = { 90.GB * task.attempt }
        publishDir = [
            path: "${params.OUTDIR}/01_filtered_BAM",
            mode: 'copy'
        ]
    }
    withName: generate_enriched_ecd_wgs_features {
        cpus = 10
        maxForks = 10
        memory = { 90.GB * task.attempt }
        publishDir = [
            path: "${params.OUTDIR}/02_enriched_ecd_wgs_features",
            mode: 'copy'
        ]
    }

    withName: generate_enriched_TSS_count_features {
        errorStrategy = "retry"
        cpus = 10
        maxForks = 10
        memory = { 90.GB * task.attempt }
        publishDir = [
            path: "${params.OUTDIR}/03_enriched_TSS_count_features",
            mode: 'copy'
        ]
    }
}